/* * * * * * * * * * * 
 *                   *
 *      General      *
 *                   *
 * * * * * * * * * * */

body, 
html {
  height: 100%;
  width: 100%;
  background-image: url("css/prom_dancefloor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
body {
  margin: 0px;
  font-size: 18px;
  position: relative;
}

.dancefloor {
  position: absolute;
  right: 17.5%;
  top: 20%;
  height: 70%;
  width: 65%;
}

a {
  color: black;
}



/* * * * * * * * * * * 
 *                   *
 *     Nav Bar       *
 *                   *
 * * * * * * * * * * */

.title, 
.addDancerButton, 
.lineUp,
.danceBattle {
  padding:5px 12px;
  float:left;
}

.title {
  text-decoration: none;
}

.topbar {
  height:5%;
  background-color: white;
  font-family: avenir;
  color: #555;
  border-bottom: 1px solid black;
  padding-top: 4px;
  box-shadow: 0px 0px 25px 0px black;
}
.title {
  border-right: 1px solid black;
  font-family: avenir;
  letter-spacing: 3px;
  font-size: 25px;
  height: 70%;
}

.addDancerButton,
.lineUp,
.danceBattle {
  margin-left: 10px;
  letter-spacing: 1px; 
  text-decoration: none;
  padding-top: 10px;
}

.addDancerButton #dancerRight {
  padding-right: 25px;
}

.lineUp {
  border-left: 1px solid black;
  height: 60%;
  padding-left: 25px;
}

.danceBattle {
  border-right: 1px solid black;
  padding-right: 25px;
}



/* * * * * * * * * * * 
 *                   *
 *      Dancers      *
 *                   *
 * * * * * * * * * * */ 

.dancer {
  position:absolute;
}

.spongebob,
.donutCat,
.kanye,
.taylor {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}

.spongebob {
  background-image: url("css/spongebob.gif");
}

.donutCat {
  background-image: url("css/donutCat.gif");
}

.kanye {
  background-image: url("css/kanyeStatic.png");
}

.taylor {
  background-image: url("css/taylorStatic.png");
  width: 315px;
}

.battleTaylor {
  background-image: url("./css/taylor.gif");
  height: 350px;
  width: 400px;
}

.battleKanye {
  background-image: url("./css/kanye.gif");
  height: 350px;
  width: 350px;
}














